.header-bg {
  background-color: #2861F6;
  border-bottom: 10px solid #264caa;
}

.logo-bg {
  background-image: url("../assets/homepage/header-logobg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.pageCarousel {
  border-bottom: 10px solid #264caa;
}

ul.social-media li img {
  width: 20px;
  display: inline;
}

.latest-news-and-events .news-and-events-container {
  border: 5px solid #264caa;
  padding: 5px;
}

.latest-news-and-events .news-and-events-container .row {
  border: 5px solid #ffc228;
  padding: 5px;
  margin: 5px 0px;
}

.latest-news-and-events h3 {
  color: #264caa;
}

.recent-events {
  background-image: linear-gradient(165deg, #330d69, #30c9cd);
}

.bg-primary-cardbackground {
  background-color: #24314C;
}

.border-warning-circle {
  border-color: #ffc228;
  border-width: 10px;
}

.section-1 {
  background-image: url("../assets/homepage/overlay-logo.png"), linear-gradient(140deg, #646464, #959595);
  background-position: -24rem 3rem, left;
  background-size: contain, cover;
  background-repeat: no-repeat,no-repeat;
}

.carousel-caption {
  position: absolute;
  bottom: 200;
}

.carousel-caption button {
  color: #264caa;
}

.carousel-item {
  background: black;
}

.carousel-indicators {
  position: absolute;
  bottom: 100;
}

.section-right {
  font-size: 10px;
}

.left-element-with-background-image {
  position: relative;
  background-image: url("../assets/upcoming-events/CONFERENCE.jpg");
  background-size: cover;
  width: 100%;
  height: 90vh;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.left-color-overlay {
  background-image: linear-gradient(269deg, #24314C, #24314c85);
}

.right-bg {
  background-color: #24314C;
}

.form-registration h1 {
  color: #F4B63C;
}

.form-registration h3 {
  color: #FFDA7E;
}

.form-input input {
  background-color: #24314C;
  border: 1px solid #FFC228;
}

.form-input input::-webkit-input-placeholder {
  color: #FFE7A9;
}

.form-input input:-ms-input-placeholder {
  color: #FFE7A9;
}

.form-input input::-ms-input-placeholder {
  color: #FFE7A9;
}

.form-input input::placeholder {
  color: #FFE7A9;
}

.form-input button {
  background-color: #D78E00;
  border: none;
}

.head-bg {
  height: 100vh;
  margin: 0;
  background-image: url("../assets/conference-participation/header-bg.jpg");
  background-size: cover;
  position: relative;
}

.head-bg:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 65%;
  background: rgba(36, 49, 76, 0.65);
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.conference-button {
  background-color: transparent;
}

.participation-section {
  color: #24314C;
}

.participation-section button {
  background-color: transparent;
  border: 1px solid #24314C;
  color: #24314C;
  border-radius: 0;
}

.post1 {
  height: 205vh;
  margin: 0;
  background-size: cover;
  position: relative;
}

.post1 h3 {
  color: #FFC228;
}

.post1 h2 {
  color: #FFC228;
}

.post1 p {
  color: #FFDA7E;
}

.post1:before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #24314c;
  -webkit-transform: skewY(4deg);
          transform: skewY(4deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.post3 {
  height: 65vh;
  margin: 0;
  background-size: cover;
  position: relative;
}

.post3 h3 {
  color: #FFC228;
}

.post3 h4 {
  color: #FFDA7E;
}

.post3 p {
  color: #FFF3D4;
}

.post3:before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #24314c;
  -webkit-transform: skewY(4deg);
          transform: skewY(4deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.post-participants h5 {
  color: #FFDA7E;
}

.post-participants p {
  color: #FFF3D4;
}

.post-participants1 h5 {
  color: #333B4E;
}

.post-participants1 p {
  color: #01081A;
}

.post1-1 {
  height: 15vh;
  margin: 0;
  background-size: cover;
  position: relative;
}

.post1-1:before {
  content: "";
  position: absolute;
  top: -100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #24314c;
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.post3-1 {
  height: 15vh;
  margin: 0;
  background-size: cover;
  position: relative;
}

.post3-1:before {
  content: "";
  position: absolute;
  top: -100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #24314c;
  -webkit-transform: skewY(0deg);
          transform: skewY(0deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.gallery-show {
  position: relative;
}

.gallery-show .gallery-layer {
  position: absolute;
  top: 0;
  width: 97%;
  height: 87%;
  background-color: rgba(0, 0, 0, 0.507);
}

.small-gallery-layer {
  position: relative;
}

.small-gallery-layer .layer-img {
  background-color: rgba(0, 0, 0, 0.363);
  position: absolute;
  top: 0;
  width: 75%;
  height: 90%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .post1 {
    height: 345vh;
    margin: 0;
    background-size: cover;
    position: relative;
  }
  .post1 .row > div:first-child {
    width: 100%;
  }
  .post1 .row > div:first-child img {
    margin-left: auto !important;
    margin-right: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .post1 .row > div:nth-child(2) {
    width: 100%;
  }
  .post1 .row > div:nth-child(2) > h3 {
    text-align: center;
    font-size: 45px;
  }
  .post1 .row > div:nth-child(2) > p {
    text-align: center;
    font-size: 22px;
  }
  .post1 .row > div:nth-child(2) > div > div:first-child {
    width: 50% !important;
  }
  .post1 .row > div:nth-child(2) > div > div:last-child {
    width: 50% !important;
  }
  .post1 .row > div:nth-child(3) {
    margin-top: 2rem !important;
  }
  .post1:before {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #24314c;
    -webkit-transform: skewY(4deg);
            transform: skewY(4deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  .participation-section .row {
    margin-bottom: 4rem !important;
  }
  .post3 {
    height: 135vh;
    margin: 0;
    background-size: cover;
    position: relative;
  }
  .post3 > .row {
    width: 100% !important;
  }
  .post3 > .row > div:first-child {
    width: 100% !important;
  }
  .post3 > .row > div:first-child img {
    margin-left: auto !important;
    margin-right: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .post3 > .row > div:last-child {
    width: 100% !important;
  }
  .head-bg {
    height: 100vh;
    margin: 0;
    background-image: url("../assets/conference-participation/header-bg.jpg");
    background-size: cover;
    position: relative;
  }
  .head-bg h1 {
    width: 50% !important;
    font-size: 50px !important;
  }
  .head-bg button {
    border: 3px solid #fff  !important;
    font-weight: 500 !important;
  }
  .head-bg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 90%;
    background: rgba(36, 49, 76, 0.65);
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  .overlay {
    padding: 2rem !important;
    margin: 0 !important;
  }
  .overlay > div > div:first-child p:first-child {
    margin: 0px !important;
    margin-top: 3rem !important;
  }
  .left-element-with-background-image {
    height: 100vh;
  }
  .left-element-with-background-image h1 {
    padding: 0 !important;
    margin: 0 !important;
    font-weight: lighter;
    margin-top: 2rem !important;
  }
  .form-registration > div {
    width: 75% !important;
  }
  .header-bg {
    color: #000;
  }
  .header-bg .logo-bg {
    width: 85%;
  }
  .header-bg .row {
    position: relative;
  }
  .header-bg .header-menu {
    position: absolute;
    right: 0;
    bottom: 20;
  }
  .header-bg .header-menu nav .navbar-toggler {
    color: transparent;
    border-color: transparent;
  }
  .header-bg .header-menu nav #menuIcon {
    background-image: url("../assets/burger.png");
    height: 50px;
    width: 50px;
    background-size: 50px;
  }
  .btop {
    position: relative;
    top: 0;
    border-bottom: 15px solid #264caa;
  }
  .btop p {
    background-color: #264caa;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  footer.responsive-footer .logo {
    background-color: #fff;
    border-radius: 2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .post1 {
    height: 415vh;
    margin: 0;
    background-size: cover;
    position: relative;
  }
  .post1 .row > div:first-child {
    width: 100%;
  }
  .post1 .row > div:first-child img {
    margin-left: auto !important;
    margin-right: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .post1 .row > div:nth-child(2) {
    width: 100%;
  }
  .post1 .row > div:nth-child(2) > h3 {
    text-align: center;
    font-size: 45px;
  }
  .post1 .row > div:nth-child(2) > p {
    text-align: center;
    font-size: 22px;
  }
  .post1 .row > div:nth-child(2) > div > div:first-child {
    width: 100% !important;
  }
  .post1 .row > div:nth-child(2) > div > div:last-child {
    width: 100% !important;
    padding-left: 12px !important;
  }
  .post1 .row > div:nth-child(3) {
    margin-top: 2rem !important;
  }
  .post1 .row > div:nth-child(3) > div:last-child {
    padding-left: 12px !important;
  }
  .post1:before {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #24314c;
    -webkit-transform: skewY(4deg);
            transform: skewY(4deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  .participation-section {
    padding: 0 2rem !important;
  }
  .participation-section .row {
    margin-bottom: 4rem !important;
    padding: 0 !important;
    margin-top: 2rem;
    text-align: center;
  }
  .participation-section .row .d-none {
    display: block !important;
  }
  .participation-section .row .d-block {
    display: none !important;
  }
  .participation-section .row h3 {
    font-size: 45px;
    margin-top: 1.8rem;
  }
  .participation-section .row p:nth-child(2) {
    text-align: center;
    font-weight: 500 !important;
    font-size: 22px;
  }
  .participation-section .row p:nth-child(3) {
    text-align: justify;
    padding: 0px 1rem;
    font-size: 18px;
    font-weight: 400;
  }
  .post3 {
    height: 135vh;
    margin: 0;
    background-size: cover;
    position: relative;
  }
  .post3 > .row {
    width: 100% !important;
    padding: 0 !important;
  }
  .post3 > .row > div:first-child {
    width: 100% !important;
  }
  .post3 > .row > div:first-child img {
    margin-left: auto !important;
    margin-right: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .post3 > .row > div:last-child {
    width: 100% !important;
  }
  .head-bg {
    height: 100vh;
    margin: 0;
    background-image: url("../assets/conference-participation/header-bg.jpg");
    background-size: cover;
    position: relative;
  }
  .head-bg > div {
    margin: 0 !important;
  }
  .head-bg > div > div {
    margin: 0 !important;
  }
  .head-bg h1 {
    width: 100% !important;
    font-size: 50px !important;
    text-align: center;
  }
  .head-bg button {
    border: 3px solid #fff  !important;
    font-weight: 500 !important;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .head-bg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgba(36, 49, 76, 0.65);
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  .overlay {
    padding: 2rem !important;
    margin: 0 !important;
  }
  .overlay > div > div:first-child p:first-child {
    margin: 0px !important;
    margin-top: 3rem !important;
  }
  .overlay > div > div:last-child p:first-child {
    margin: 0px !important;
    margin-top: 2rem !important;
    padding: 0px !important;
    text-align: center;
    font-size: 20px !important;
  }
  .left-element-with-background-image {
    height: 100vh;
  }
  .left-element-with-background-image h1 {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 2rem !important;
    font-size: 35px !important;
    text-align: center;
  }
  .form-registration {
    border-radius: 15px 15px 0px 0px;
    position: relative;
    bottom: 15px;
    padding-bottom: 25px !important;
    background-color: #6B6B6B;
    -webkit-box-shadow: 1px -9px 10px #6b6b6b;
            box-shadow: 1px -9px 10px #6b6b6b;
  }
  .form-registration h1 {
    font-size: 42px;
    margin: 0px 20px 0px 20px;
  }
  .form-registration h3 {
    font-size: 22px !important;
    font-weight: 400 !important;
  }
  .form-registration > div {
    width: 75% !important;
  }
  .form-registration .form-input input {
    background-color: #6B6B6B;
    font-weight: lighter;
  }
  .header-bg {
    color: #000;
  }
  .header-bg .logo-bg {
    width: 100%;
  }
  .header-bg .row {
    position: relative;
  }
  .header-bg .header-menu {
    position: absolute;
    right: -20;
    bottom: 40;
  }
  .header-bg .header-menu nav span {
    font-size: 15px !important;
  }
  .header-bg .header-menu nav .navbar-toggler {
    width: 50%;
    color: transparent;
    border-color: transparent;
  }
  .header-bg .header-menu nav #menuIcon {
    background-image: url("../assets/burger.png");
    height: 25px;
    width: 25px;
    background-size: 25px;
  }
  .btop {
    position: relative;
    top: 0;
    border-bottom: 15px solid #264caa;
  }
  .btop p {
    background-color: #264caa;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  footer.responsive-footer .logo {
    background-color: #fff;
    border-radius: 2rem;
    width: 50% !important;
  }
  footer.responsive-footer .parent-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer.responsive-footer .parent-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  footer.responsive-footer .unwpa-text {
    font-size: 18px !important;
    line-height: 20px;
  }
  footer.responsive-footer .unwpa-info-text {
    font-size: 22px !important;
  }
  footer.footer1 {
    display: none;
  }
}

#menuIcon {
  background-image: url("../assets/burger.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
}
/*# sourceMappingURL=conference.css.map */