$borderColor1: #264caa;
$borderColor2: #ffc228;
$backgroundColor: #2861F6;
$gradientColor1: #330d69;
$gradientColor2: #30c9cd;
$backgroundColor2: #24314C;
$grayGradientColor1: #959595;
$grayGradientColor2: #646464;
$formColor1: #F4B63C;
$formColor2: #FFDA7E;
$formColor3: #FFE7A9;
$formColorStroke: #FFC228;
$formBgColor: #D78E00;
$conferenceColor: #24314C;


.header-bg {
    background-color: $backgroundColor;
    border-bottom: 10px solid $borderColor1;
}

.logo-bg {
    background-image: url('../assets/homepage/header-logobg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pageCarousel {
    border-bottom: 10px solid $borderColor1;
}

ul.social-media {
    li {
        img {
            width: 20px;
            display: inline;
        }
    }
}

.latest-news-and-events {

    .news-and-events-container {
        border: 5px solid $borderColor1;
        padding: 5px;

        .row {
            border: 5px solid $borderColor2;
            padding: 5px;
            margin: 5px 0px;
        }
    }

    h3 {
        color: $borderColor1;
    }
}

.recent-events {
    background-image: linear-gradient(165deg, $gradientColor1, $gradientColor2);

}

.bg-primary-cardbackground {
    background-color: $backgroundColor2;
}

.border-warning-circle {
    border-color: #ffc228;
    border-width: 10px;

}




.section-1 {
    background-image: url('../assets/homepage/overlay-logo.png'), linear-gradient(140deg, $grayGradientColor2, $grayGradientColor1);
    background-position: -24rem 3rem, left;
    background-size: contain, cover;
    background-repeat: no-repeat,no-repeat;
}

.carousel-caption {
    position: absolute;
    bottom: 200;

    button {
        color: $borderColor1;
    }
}

.carousel-item {
    background: rgba($color: #000000, $alpha: 1.0)
}


.carousel-indicators {
    position: absolute;
    bottom: 100;
}

.section-right {
    font-size: 10px;
}

.left-element-with-background-image {
    position: relative;
   background-image: url("../assets/upcoming-events/CONFERENCE.jpg");
   background-size: cover;
   width: 100%;
   height: 90vh;
}

.overlay {
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.left-color-overlay {
   background-image: linear-gradient(269deg, #24314C, #24314c85);
}

.right-bg {
    background-color: #24314C;
}

.form-registration {
    h1 {
        color: $formColor1;
    }

    h3 {
        color: $formColor2;
    }
}


.form-input {
    input {
        background-color: #24314C;
        border: 1px solid $formColorStroke;
    }

    input::placeholder {
        color:$formColor3;
    }

    button {
        background-color: $formBgColor;
        border: none;
    }
}

.head-bg {
    height: 100vh;
    margin: 0;
    background-image: url('../assets/conference-participation/header-bg.jpg');
    background-size: cover;
    position: relative;
}

.head-bg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 65%;
    background: rgba($color: #24314C, $alpha: 0.65);
    transform: skew(-30deg);
    transform-origin:top;
}

.conference-button {
    background-color: transparent;
}

.participation-section {
    color: $conferenceColor;
    button {
        background-color: transparent;
        border: 1px solid $conferenceColor;
        color: $conferenceColor;
        border-radius: 0;
    }
}

.post1 {
    height: 205vh;
    margin: 0;
    background-size: cover;
    position: relative;
    
    h3 {
        color: #FFC228;
    }

    h2 {
        color: #FFC228;
    }

    p {
        color: #FFDA7E;
    }
}


.post1:before {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgba($color: #24314C, $alpha: 1);
    transform: skewY(4deg);
    transform-origin:top;
}

.post3 {
    height: 65vh;
    margin: 0;
    background-size: cover;
    position: relative;
    
    h3 {
        color: #FFC228;
    }

    h4 {
        color: #FFDA7E;
    }

    p {
        color: #FFF3D4;
    }
}


.post3:before {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgba($color: #24314C, $alpha: 1);
    transform: skewY(4deg);
    transform-origin:top;
}

.post-participants {
    h5 {
        color: #FFDA7E;
    }
    p {
        color: #FFF3D4;
    }
}

.post-participants1 {
    h5 {
        color: #333B4E;
    }
    p {
        color: #01081A;
    }
}

.post1-1 {
    height: 15vh;
    margin: 0;
    background-size: cover;
    position: relative;
}

.post1-1:before {
    content: "";
    position: absolute;
    top: -100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgba($color: #24314C, $alpha: 1);
    transform: skewY(-4deg);
    transform-origin:top;
}

.post3-1 {
    height: 15vh;
    margin: 0;
    background-size: cover;
    position: relative;
}

.post3-1:before {
    content: "";
    position: absolute;
    top: -100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgba($color: #24314C, $alpha: 1);
    transform: skewY(0deg);
    transform-origin:top;
}

.gallery-show {
    position: relative;

    .gallery-layer {
        position: absolute;
        top: 0;
        width: 97%;
        height: 87%;
        background-color: rgba(0, 0, 0, 0.507);
    }
}

.small-gallery-layer {
    position: relative;

    .layer-img {
        background-color: rgba(0, 0, 0, 0.363);
        position: absolute;
        top: 0;
        width: 75%;
        height: 90%;
    }
}

// Media Queries for Tablet 
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    // Post 1 stylesheet
    .post1 {

        height: 345vh;
        margin: 0;
        background-size: cover;
        position: relative;

        .row {
            > div:first-child {
                width: 100%;
                img {
                    margin-left: auto !important;
                    margin-right: auto !important;
                    display: flex;
                    justify-content: center;
                    width: 80%;
                    border-radius: 5px;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }
            > div:nth-child(2) {
                width: 100%;

                > h3  {
                    text-align: center;
                    font-size: 45px;
                }

                > p {
                    text-align: center;
                    font-size: 22px;
                }

                > div {
                    > div:first-child {
                        width: 50% !important;
                    }

                    > div:last-child {
                        width: 50% !important;

                    }
                }
            }

            > div:nth-child(3) {
                margin-top: 2rem !important;
            }
        }
    }

    .post1:before {
        content: "";
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background: rgba($color: #24314C, $alpha: 1);
        transform: skewY(4deg);
        transform-origin:top;
    }

    .participation-section {
        .row {
            margin-bottom: 4rem !important;
        }
    }

    // post 2 stylesheet

    .post3 {
        height: 135vh;
        margin: 0;
        background-size: cover;
        position: relative;
        > .row {
            width: 100% !important;
            > div:first-child {
                width: 100% !important;

                img {
                    margin-left: auto !important;
                    margin-right: auto !important;
                    display: flex;
                    justify-content: center;
                    width: 80%;
                    border-radius: 5px;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }

            > div:last-child {
                width: 100% !important;
            }
        }
    }

    // header stylesheet
    .head-bg {
        height: 100vh;
        margin: 0;
        background-image: url('../assets/conference-participation/header-bg.jpg');
        background-size: cover;
        position: relative;

        h1 {
            width: 50% !important;
            font-size: 50px !important;
        }

        button {
            border: 3px solid #fff  !important;
            font-weight: 500 !important;
        }
    }
    
    .head-bg:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 90%;
        background: rgba($color: #24314C, $alpha: 0.65);
        transform: skew(-30deg);
        transform-origin:top;
    }

    .overlay {
        padding: 2rem !important;
        margin: 0 !important;

        > div {
            > div:first-child {
                p:first-child {
                    margin: 0px !important;    
                    margin-top: 3rem !important;    
                }
            }
        }
    }

    .left-element-with-background-image {
        height: 100vh;

        h1 {
            padding: 0 !important;
            margin: 0 !important;   
            font-weight: lighter;
            margin-top: 2rem !important; 
        }
    }

    .form-registration {    
        > div {
                width: 75% !important;
            }
    }

    .header-bg {
        color: #000;

        .logo-bg {
            width: 85%;
        }

        .row {
            position: relative;
        }

        .header-menu {
            position: absolute;
            right: 0;
            bottom: 20;

            nav {

                .navbar-toggler {
                    color: transparent;
                    border-color: transparent;
                }

                #menuIcon {
                    background-image: url('../assets/burger.png');
                    height: 50px;
                    width: 50px;
                    background-size: 50px;
                }
            }
        }
    }

    .btop {
        position: relative;
        top: 0;
        border-bottom: 15px solid $borderColor1;
        p {
            background-color: $borderColor1;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    footer.responsive-footer {
        .logo {
            background-color: #fff;
            border-radius: 2rem;
        }
    }
}

// Media Queries for Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {

    // Post 1 stylesheet
    .post1 {

        height: 415vh;
        margin: 0;
        background-size: cover;
        position: relative;

        .row {
            > div:first-child {
                width: 100%;
                img {
                    margin-left: auto !important;
                    margin-right: auto !important;
                    display: flex;
                    justify-content: center;
                    width: 80%;
                    border-radius: 5px;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }
            > div:nth-child(2) {
                width: 100%;

                > h3  {
                    text-align: center;
                    font-size: 45px;
                }

                > p {
                    text-align: center;
                    font-size: 22px;
                }

                > div {
                    > div:first-child {
                        width: 100% !important;
                    }

                    > div:last-child {
                        width: 100% !important;
                        padding-left: 12px !important;

                    }
                }
            }

            > div:nth-child(3) {
                margin-top: 2rem !important;

                > div:last-child {
                    padding-left: 12px !important;
                }
            }
        }
    }

    .post1:before {
        content: "";
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background: rgba($color: #24314C, $alpha: 1);
        transform: skewY(4deg);
        transform-origin:top;
    }

    .participation-section {
        padding: 0 2rem !important;
        .row {
            margin-bottom: 4rem !important;

            .d-none {
                display: block !important;
            }

            .d-block {
                display: none !important;
            }
                padding: 0 !important;
                margin-top: 2rem;
                text-align: center;
                h3 {
                    font-size: 45px;
                    margin-top: 1.8rem;
                }
                p:nth-child(2) {
                    text-align: center;
                    font-weight: 500 !important;
                    font-size: 22px;
                }

                p:nth-child(3) {
                    text-align: justify;
                    padding: 0px 1rem;
                    font-size: 18px;
                    font-weight: 400;
                }
        }
    }

    // post 2 stylesheet

    .post3 {
        height: 135vh;
        margin: 0;
        background-size: cover;
        position: relative;
        > .row {
            width: 100% !important;
            padding: 0 !important;
            > div:first-child {
                width: 100% !important;

                img {
                    margin-left: auto !important;
                    margin-right: auto !important;
                    display: flex;
                    justify-content: center;
                    width: 80%;
                    border-radius: 5px;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }

            > div:last-child {
                width: 100% !important;
            }
        }
    }

    // header stylesheet
    .head-bg {
        height: 100vh;
        margin: 0;
        background-image: url('../assets/conference-participation/header-bg.jpg');
        background-size: cover;
        position: relative;

        > div {
            margin: 0 !important;
            > div {
                margin: 0 !important;
            }
        }

        h1 {
            width: 100% !important;
            font-size: 50px !important;
            text-align: center;
        }

        button {
            border: 3px solid #fff  !important;
            font-weight: 500 !important;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
        }
    }
    
    .head-bg:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background: rgba($color: #24314C, $alpha: 0.65);
        transform: skew(0deg);
        transform-origin:top;
    }
    
    // upcoming events stylesheet
    .overlay {
        padding: 2rem !important;
        margin: 0 !important;

        > div {

            > div:first-child {
                p:first-child {
                    margin: 0px !important;    
                    margin-top: 3rem !important;    
                }
            }

             > div:last-child {
                p:first-child {
                    margin: 0px !important;    
                    margin-top: 2rem !important; 
                    padding: 0px !important;
                    text-align: center;   
                    font-size: 20px !important;
                }
            }
        }
    }

    .left-element-with-background-image {
        height: 100vh;

        h1 {
            padding: 0 !important;
            margin: 0 !important;   
            margin-top: 2rem !important; 
            font-size: 35px !important;
            text-align: center;
        }
    }

    .form-registration {    

        h1 {
            font-size: 42px;    
            margin: 0px 20px 0px 20px;
        }

        h3 {
            font-size: 22px !important;
            font-weight: 400 !important;    
        }

        border-radius: 15px 15px 0px 0px;
        position: relative;
        bottom: 15px;
        padding-bottom: 25px !important;
        background-color: #6B6B6B;
        box-shadow: 1px -9px 10px #6b6b6b;
        > div {
                width: 75% !important;
            }

        .form-input {
                input {
                    background-color: #6B6B6B; 
                    font-weight: lighter;
                }
            }
    }


        // Header stylesheet
    .header-bg {
        color: #000;

        .logo-bg {
            width: 100%;
        }

        .row {
            position: relative;
        }

        .header-menu {
            position: absolute;
            right: -20;
            bottom: 40;

            nav {
                span {
                    font-size: 15px!important;
                }

                .navbar-toggler {
                    width: 50%;
                    color: transparent;
                    border-color: transparent;
                }

                #menuIcon {
                    background-image: url('../assets/burger.png');
                    height: 25px;
                    width: 25px;
                    background-size: 25px;
                }
            }
        }
    }

    .btop {
        position: relative;
        top: 0;
        border-bottom: 15px solid $borderColor1;
        p {
            background-color: $borderColor1;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    footer.responsive-footer {
        .logo {
            background-color: #fff;
            border-radius: 2rem;
            width: 50% !important;
        }

        .parent-logo {
            display: flex;
            justify-content: center;
        }

        .parent-text {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .unwpa-text {
            font-size: 18px !important;
            line-height: 20px;
        }

        .unwpa-info-text {
            font-size: 22px !important;
        }
    }

    footer.footer1
    {
        display: none;

    }
}



#menuIcon {
    background-image: url('../assets/burger.png');
    height: 50px;
    width: 50px;
    background-size: 50px;
}