$borderColor1: #264caa;
$borderColor2: #ffc228;
$backgroundColor: #2861F6;
$gradientColor1: #330d69;
$gradientColor2: #30c9cd;
$whitebg: #FFFFFF;
$aboutbgcolor1: #F0F5FF;
$aboutbgcolor2:#E8EFFF;
$aboutbgcolor3: #BAD0FC;
$aboutbgalt1: linear-gradient(to bottom, #F0F5FF 50%,  #E8EFFF 50%);
$aboutbgalt2: linear-gradient(to bottom, #E8EFFF 50%, #F0F5FF 50%);
$aboutbgalt3: linear-gradient(to bottom, $aboutbgcolor2 50%,  $aboutbgcolor2 50%);


.header-bg {
    background-color: $backgroundColor;
    border-bottom: 10px solid $borderColor1;
}

.logo-bg {
    background-image: url('../assets/homepage/header-logobg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pageCarousel {
    border-bottom: 10px solid $borderColor1;
}

ul.social-media {
    li {
        img {
            width: 20px;
            display: inline;
        }
    }
}

.latest-news-and-events {
    
    .news-and-events-container {
        border: 5px solid $borderColor1;
        padding: 5px;

        .row {
            border: 5px solid $borderColor2;
            padding: 5px;
            margin: 5px 0px;
        }
    }

    h3 {
        color: $borderColor1;
    }
}

.recent-events {
    background-image: linear-gradient(165deg, $gradientColor1, $gradientColor2);

}

// About us

.aboutTitle{
    background: $aboutbgcolor1;
}

.missionTitleBg{
    background-color: $aboutbgcolor3;
    
}

.missionBg{
    background-color: $aboutbgcolor2;
}

.visionTitleBg{
    background-color: $aboutbgcolor3;
}

.visionBg{
    background-color: $aboutbgcolor1;
}

.seperatorBg1{
    background: $aboutbgalt1;
}

.seperatorBg2{
    background: $aboutbgalt2;
}

// UNWPA Board Members

.members_seperatorbg1{
    background: $aboutbgalt1;
    align-items: center;
}

.memberTitle{
    margin-top: 8rem;
}
.membersTitleBg{
    background-color: $aboutbgcolor3;
}

.membersContainer{
    background: $aboutbgcolor2;
}

.memberCards{
    background: $whitebg;
}

.memberName{
    text-align: center;
    font-weight: bold;
}

.memberPos{
    text-align: center;
    font-weight: bold;
}

.memberCard0{
    width: 35rem;
    background: blanchedalmond;
}

.img-fluid-profImage{
    width: 7rem;
    padding: 2px;
    margin-left: 2rem;
    position: absolute;
}

.img-fluid-memProf{
    display: block;
    width: 6.5rem;
    padding: 2px;
    margin-left: 2rem;
    position: absolute;
}

.memberCard1{
    width: 8rem;
    height: 6rem;
}

.divider1{
    justify-content: space-between;
}


//Partnership Portal

.pPortal_seperatorbg1{
    $aboutbgalt3;
}

.pPortalTitleContainer{
    background: $whitebg;
}

.pPortalTitle{
    background: $whitebg;
    margin-top: 8rem;
}

.pPortalTitleBg{
    background-color: $aboutbgcolor3;
}

.partnershipsBD{
    background-color: $whitebg;
    
}

.partnershipsContainer1{
    background: $aboutbgcolor2;
    margin-right: 80px;
    margin-left: 80px;
}

.partnershipsContainer2{
    display: inline;
}

.partnerImg{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.partner_disp{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.description_1 {
    padding-top: 50px !important;
}

.image-fluid{
    width: 65% !important;
}

.partnerDescription span{
    vertical-align: middle;
    margin-top: 50%;
    font-size: 50px;
}

.unicef{
    height: 92%;
    margin-top: 10px;
}
