$borderColor1: #264caa;
$borderColor2: #ffc228;
$backgroundColor: #2861F6;
$gradientColor1: #330d69;
$gradientColor2: #30c9cd;
$grayGradientColor1: #959595;
$grayGradientColor2: #646464;
$formColor1: #F4B63C;
$formColor2: #FFDA7E;
$formColor3: #FFE7A9;
$formColorStroke: #FFC228;
$formBgColor: #D78E00;


.header-bg {
    background-color: $backgroundColor;
    border-bottom: 10px solid $borderColor1;
}

.logo-bg {
    background-image: url('../assets/homepage/header-logobg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pageCarousel {
    border-bottom: 10px solid $borderColor1;
}

ul.social-media {
    li {
        img {
            width: 20px;
            display: inline;
        }
    }
}

.latest-news-and-events {
    
    .news-and-events-container {
        border: 5px solid $borderColor1;
        padding: 5px;

        .row {
            border: 5px solid $borderColor2;
            padding: 5px;
            margin: 5px 0px;
        }
    }

    h3 {
        color: $borderColor1;
    }
}

.recent-events {
    background-image: linear-gradient(165deg, $gradientColor1, $gradientColor2);

}

.section-1 {
    background-image: url('../assets/homepage/overlay-logo.png'), linear-gradient(140deg, $grayGradientColor2, $grayGradientColor1);
    background-position: -24rem 3rem, left;
    background-size: contain, cover;
    background-repeat: no-repeat,no-repeat;
}

.carousel-caption {
    position: absolute;
    bottom: 200;

    button {
        color: $borderColor1;
    }
}

.carousel-item {
    background: rgba($color: #000000, $alpha: 1.0)
}


.carousel-indicators {
    position: absolute;
    bottom: 100;
}

.section-right {
    font-size: 10px;
}

.left-element-with-background-image {
    position: relative;
   background-image: url("../assets/upcoming-events/CONFERENCE.jpg");
   background-size: cover;
   width: 100%;
   height: 90vh;
}

.overlay {
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.left-color-overlay {
   background-image: linear-gradient(269deg, #24314C, #24314c85);
}

.right-bg {
    background-color: #24314C;
}

.form-registration {
    h1 {
        color: $formColor1;
    }

    h3 {
        color: $formColor2;
    }
}


.form-input {
    input {
        background-color: #24314C;
        border: 1px solid $formColorStroke;
    }

    input::placeholder {
        color:$formColor3;
    }

    button {
        background-color: $formBgColor;
        border: none;
    }
}